.flex-container{
    display: flex;
    gap: 40px;
    margin: 20px;
    
}

.left-col{
    flex: 1;
    border-color: black;
    border: 3px solid;
    padding: 15px;
    width: 450px;
}
.right-col{
    flex: 1;
    border-color: black;
    border: 3px solid;
    padding: 10px;
    height: 25%;
}


#submit{
    align-items: center;
    text-align: center;
    
}

button{
    width: 300px;
}

